services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:80"
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    external: true